#folder-form{
  float: left;
}

#folder-list{
  padding-left: 100px;
  overflow: scroll;
}

#file-list{
  position: relative;
  left: 23px;
}

#folder-dropdown{
  float: right;
}

.icon{
  color: lightgray;
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0px;
}
