#main-page-area {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}

#left-side-bar {
  flex-grow: 0;
  width: 180px;
  background: rgb(27, 28, 29);
  opacity: 0.8;
}

#root-page-link {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

#folder-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
}

#filename {
  position: relative;
  left: 23px;
}

.item-dropdown {
  float: right;
  max-width: 20.02px;
}

.icon {
  color: lightgray;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

li div {
  padding-left: 100%;
  margin-left: -100%;
}

li > div:hover {
  background-color: #edf2f7;
}
